
.header__container {
    background-color: #00131C;
    display: flex;
    justify-content: space-between
}

.header__logo {
    margin-left: 63px;
}

.header__button {
    background-color: #2C968F;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 30px;
    height: 40px;
    margin: 15px;
}