@use 'variaveis';
.header__container {
    background-color: #00131C;
    display: flex;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &__link{
        text-decoration: none;
    }
}

.header__list {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 30px;
    
    &__item {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 2px;        
    }

    &__icone {
        
        position: relative;
        display: flex;
    }
}

.icone__desenho {
    background-color: variaveis.$corDeBotao;
    border-radius: 10px 0px 0px 10px;

    &__inicio {
        padding: 3px 10px 4px 10px;
        width: 53px;
    }
    &__coringa {
        width: 40px;
    }
    &__harley {
        width: 40px;
    }
    &__trailer {
        padding: 5px;
        width: 40px;
    }
    &__plataforma {
        width: 40px;
    }
}

.icone__texto {
    text-decoration: none !important;
    background-color: variaveis.$corDeBotao;
    color: #fff;
    cursor: pointer;
    border: none;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: 18px;
}




.header__logo {
    margin-left: 63px;
}