@use 'variaveis';

.platform {
    padding-top: 100px;
    padding-bottom: 100px;
}

.platform__list {
    display: grid;
    position: relative;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-bottom: 700px;
}

.platform__item {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #082730 20%, #03040F);
    position: absolute;
    display: block;
    width: 300px;
    border-radius: 32px;
    padding: 60px 0;
    margin: 20px;
    margin-top: 40px;
    transition: background-image 0.3s ease, border 0.3s ease;
    transition: margin-top 0.3s ease, border 0.3s ease;

    
    &-imagem {
        width: 60%;
    }

    &-type {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &-valor {
        font-size: 80px;
    }

    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-button {
        cursor: pointer;
        margin-top: 52px;
        background-color: variaveis.$corDeBotao;
        color: #fff;
        border: none;
        border-radius: 32px;
        font-weight: bold;
        font-size: 28px;
        padding: 8px 88px;

        &:hover{
            transition: background-color 0.6s ease;
            background-color: #13a1c9;
        }
    }

    &-text {
        font-family: "Gothic A1", sans-serif;
        color: #fff;
        font-weight: bolder;
        text-align: center;
    }
    
    &:hover {
        background-image: linear-gradient(to bottom, #0f728d 20%, #1056688a);
        padding-top: 70px;
        border: 8px solid #2DB7AE;
        border-width: 8px 2px 0 2px;
        margin-top: 20px;


        .platform__item-imagem {
            width: 65%;
            transition: width 0.3s ease;
        }
    }
}


@media (max-width: 767px) {
    .text-platform {
        text-align: center;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }

    .platform {
        width: 370px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .platform__list {
        margin-bottom: 300px;
    }
    
    .platform__item .platform__item-button{
        font-size: 10px;
        margin-top: 52px;
        padding: 8px 20px;
    }

    .platform__item-sifrao  {
        font-size: 12px;
    }

    .platform__item {
        width: 100%;
        position: absolute;
        display: block;
        width: 80px;
        border-radius: 10px;
        padding: 30px 50px;
        margin: 0 auto;
        margin-top: 40px;

        &-imagem {
            width: 60px;
        }
    
        &-type {
            font-size: 10px;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    
        &-valor {
            font-size: 20px;
        }

        &:hover {
            padding-top: 30px;
            .platform__item-imagem {
                width: 82px;
                transition: width 0.3s ease;
            }
        } 
    }
}