@use 'variaveis';



.sinopse {
    background-color: variaveis.$corDeFundoAzul;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-items: center;
}

.list-alerquin {
    justify-content: center;
    background-image: linear-gradient(to bottom, variaveis.$corDeFundoVerde 65%, variaveis.$corDeFundoAzul);
    width: 100%;
}

.sinopse__list__arlequin {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}

.text-joker {
    color: variaveis.$corDeTextoCoringa;
}

.text-arlequin {
    color: variaveis.$corDeTextoArlequina;
}

.text {
    font-family: "Gothic A1", sans-serif;
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
} 

.list-title {
    text-align: center;
    font-family: 'joker';
    font-weight: 500;
    font-size: 200px
}

.sinopse__list {
    display: flex;
    list-style: none;
    
    .sinopse__item{
        margin-top: 70px;
        margin-bottom: 195px;
        
        .text-item {
            margin-left: 40px;
            width: 800px;
        }
        
        .image-joker{
            width: 400px;
            margin-left: 63px;
            border-radius: 16px;
        }
    }
}

@media (max-width: 767px) {
    .sinopse{
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha os itens no centro */
        padding-top: 30px;
        justify-content: center; /* Centraliza verticalmente */
    }

    .sinopse__list__arlequin {
        margin: 0;
    }

    .sinopse__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0;
    }
    .sinopse__list .sinopse__item{
        margin: 0;
    }
    
    .sinopse__list .sinopse__item .image-joker {
        display: flex;
        width: 300px;
        margin: 0;
    }

    .sinopse__list .sinopse__item .text-item {
        margin-left: 0;
        width: 300px;
    }

    .list-title{
        font-size: 120px;
    }

    .text {
        text-align: center;
        font-size: 15px;
    } 

}