@use 'variaveis';

.sinopse{
    background-color: variaveis.$corDeFundoAzul;
    align-items: center;
    justify-items: center;
}

.list-alerquin {
    justify-content: center;
    background-image: linear-gradient(to bottom, variaveis.$corDeFundoVerde 65%, variaveis.$corDeFundoAzul);
    width: 100%;
}

.text-joker {
    color: variaveis.$corDeTextoCoringa;
}

.text-arlequin {
    color: variaveis.$corDeTextoArlequina;
}


.sinopse__list {
    display: flex;
    list-style: none;
    
    .sinopse__item{
        margin-top: 70px;
        margin-bottom: 195px;
        
        .text-item {
            margin-left: 40px;
            width: 800px;
        }
        
        .image-joker{
            width: 400px;
            margin-left: 63px;
            border-radius: 16px;
        }
    }
}

